.audioTweaker {
  flex: 1;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  .controlPanel {
    padding: 16px;
    width: 100%;
    max-width: 480px;
    border: 1px solid #000;
  }

  .noSelection {
    color: #666;
  }
}